# dependências
node_modules/

# builds
dist/
build/
apps/web/dist/
apps/api/dist/

# prisma client gerado
**/generated/
packages/database/node_modules/

# env
.env
.env.local
.env*.local

# logs
*.log
logs/

# cache / ferramentas
.turbo/
.eslintcache
coverage/

# SO
.DS_Store
